
<div id="page-title">
    <p style="margin-bottom: 0px;">Welcome To Gitlab Issues Notifications</p>
</div>
<div id="page-title1">
    <p>Current Issues</p>
</div>
<div class="cont">
</div>
{{#each array}}
<div id="issue-box">
    <div class="titleP">
        <span class="title">Issue {{short}}</span>
    </div>
    
    <p>State: {{state}}</p>
    <p>Author: {{name}}</p>
    <p>Link: {{web_url}}</p>
    <p>Title: {{title}}</p>
    <p>Description: {{description}}</p>
    <p>Created at: {{created_at}}</p>
    <p>Updated at: {{updated_at}}</p>
    <p>Nr of comments: {{user_notes_count}}</p>
</div>
{{/each}}